<div id="controls-<%= message.id %>" class="controls">
  <span class="vote up">
    <%= agree_link(message) %>
  </span>
  
  <span class="vote down">
    <%= disagree_link(message) %>
  </span>
</div>