<div id="controls-<%= message.id %>" class="controls">
  <span class="vote up">
    <%= vote_link(:agree, message) %>
  </span>
  
  <span class="vote down">
    <%= vote_link(:disagree, message) %>
  </span>
</div>