.controls{ :id => "controls-#{message.id}" }

  - [:agree, :disagree].each do |vote|
    - form_tag([vote, message, :vote]) do
      %button.vote{:type=>"submit", :name => vote.to_s, :class => vote.to_s}
        = vote_link(vote, message)
