<div id="controls-<%= message.id %>" class="controls">
  <span class="num"><%= message.rating %></span><br />
  <span class="vote"><a href="" title="Agree">agree</a></span>
  <span class="vote"><a href="" title="Disagree">disagree</a></span>
</div>