<div id="filter">
	Order by:
	<ul>
		<li>Date</li>
		<li>Popularity</li>
	</ul>
	Search Tags:
	<br />
	<br />
	All Tags
</div>
<% @messages.each do |message| %>
<span class="msg-item">
<%= render :partial => 'message', :locals => {:message => message} %>
</span>
<% end %>


<br />

