<div id="single">
  <%= render :partial => 'controls', :locals => {:message => @message} %>
  
  <p class="msg"><%=h @message.body %></p>
  <p>sincerely, <%= @message.author %>, <%= h @message.created_at.to_s(:short) %></p>
</div>