body {
	margin: 0;
	padding: 0;
	border-top: solid 5px #000;
	background: url('/images/margin.png') repeat-x #E5E2DB 0 80px;
}

#container 
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family:"Helvetiva", "Arial";
}

.flash, .notice
{
	margin-bottom: 30px;
	padding: 10px;
	color: #f2f2f2;
	background-color: #2CADE3;
}

#twitter-badge
{
	float:left;
	margin-left:20px;
	margin-top:-29px;
	height: 76px;
	width:181px;
}

#menu
{
	float: right;
}
	#menu ul
	{
		list-style-type: none;
		font-size: 10pt;
	}
	
	#menu li
	{
		padding-left: 20px;
		display: inline;
	}
	
	#menu .active
	{
		font-weight: bold;
		color: #ff0000;
	}
	
	#menu a
	{
		color: #000;
		text-decoration: none;
	}
	
	#menu a:hover
	{
		color: #ff0000;
	}
	
#title 
{
	padding-top:30px;
	clear: right;
	font-size: 36pt;
}
	#title a
	{
		color: #000;
		text-decoration: none;
	}

#content
{
	line-height: 1.5em;
	margin-top: 60px;
	font:14pt "Helvetica", "Arial";
}

	#msgform textarea, #message_body
	{
		font-size: 20px;
		line-height: 40px;
		background: url('/images/line.png') repeat 0 -1px;
		padding: 10px;
		width: 580px;
		height: 110px;
		margin-left: 100px;
		background-color:transparent;
		overflow:hidden;
	}
	
	#single
	{
		margin-right: 50px;
		background-color: #fff;
		width: 660px;
		padding: 20px 40px;
		float: right;
	}
	
	#singleleft
	{
		text-align: left;
	}
	
	.controls
	{
		padding: 10px 10px 0 0;
		color: #555;
		font-size: 14pt;
		text-transform: uppercase;
		text-align:right;
		clear:both;
		height: 40px;
	}

	#filter
	{
		float: left;
		font: bold 12pt "Helvetica", "Arial";
		line-height:1.5em;
		text-transform: uppercase;
	}
		#filter ul
		{
			font-size: 12pt;
			list-style: none;
			padding: 0;
		}
		
		#filter li
		{
			margin: 10px 0;
		}
		
		#filter a
		{
			color:#000;
			text-decoration: none;
		}
		
		#filter a:hover
		{
			color:#fff;
		}
		
	
	.msglist
	{
		padding: 0;
		margin: 0;
		text-align: right;
		width: 450px;
		list-style: none;
		float: right;
	}
	
		.msglist li
		{
			padding: 0 20px 10px 10px;
		}
	
		.msglist a
		{
			color: #000;
		}
	
		.popularity-item
		{
			color: #555;
			margin-top: 5px;
			text-align: justify;
			width:40px;
			font-size: 0.9em;
			float:left;
			text-transform: uppercase;
			font-weight: bold;
		}
		
		.message-text
		{
			text-align: left;
			font-size: 14pt;
			font-weight: bold;
			margin: 0;
			padding: 0 20px 0 20px;
			line-height:1.5em;
		}
		
		.message-text a
		{
			text-decoration: none;
		}
		
		.postedby
		{
			margin: 0;
			line-height:1em;
			font-size: 10pt;
			color: #999999;			
		}
		
	.postedby strong
	{
		color: #000;
		font-weight: bold;	
	}

.msg-item
{
	width: 600px;
	margin-bottom: 40px;
	float: right;
	line-height: 1.5em;
}

#random-message
{
	background-color: #EAE8E4;
	margin-left: 100px;
	padding-top:10px;
	width: 600px;
}

.nextmessage
{
	margin-left:30px;
	clear:both;
	font-size: 0.6em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #00A43D
}	
	.vote a
	{
		text-decoration:none;
	}

#comments
{
	margin-top:90px;
	width:600px;
	margin-left:100px;
}

	.comment
	{
		background: url('/images/comment-large.png') no-repeat 40px 25px;
		padding:10px 20px 5px 100px;
		line-height:0em;
		font-size:12pt;
	}

	.even
	{
		background-color: #EEEEEE;
	}

.msg-extras
{
	text-transform: uppercase;
	width: 600px;
	line-height: 1.2em;
	background-color: #f2f2f2;
	padding-bottom:10px;
}

	.msg-extras ul
	{
		
		padding: 10px 10px;
		list-style-type:none;
	}
	
	.msg-extras li
	{
		background-color: #f2f2f2;
		padding: 0 15px;
		float:left;
		display: block;
		font-size:0.5em;
	}
	
	.msg-extras .tags
	{
			width:180px;
	}
	
	.msg-extras strong
	{
		font-size: 1.1em;
	}
	
	.msg-extras p
	{
		color: #878787;
		padding: 0;
		margin: 0;
		font-size: 1.3em;
	}
	
	.msg-extras img, .vote img
	{
		border:none;
		padding:0;
		margin:0;
	}
	
	.msg-extras a
	{
		text-decoration: none;
	}
	
	.blue
	{
		color:#2CADE3;
	}

#add-tags
{
	width: 600px;
	margin-left:100px;
	clear:both;
}

	#add-tags textarea
	{
		width:600px;
		height:100px;
		background: #fff;
		border-width: 1px 0 1px 0;
		border-style:solid;
		margin: 0;
	}
	
	#add-tags .button
	{
		margin:0;
	}
	
#pagination
{
	font-size: 12pt;
	font-weight: bold;
	clear:both;
	text-align: center;
}

#loginbox, #signup
{
	width:420px;
}

.user-box
{
	font-size: 12pt;
	font-weight: bold;
	padding: 40px 40px 80px 40px;
	background-color: #f2f2f2;
}

	.user-box .text_field, .password_field
	{
		font: 18pt "Helvetica", "Arial";
		color: #5e5e5e;  
		margin-bottom: 30px;
	}
	
	.user-box .button
	{
		text-align:left;
	}
	
.fieldWithErrors label
{
	color: #ff000;
}

	
#footer
{
	clear: both;
	padding: 20px 0 10px 0;
}
	#footer ul
	{
		list-style: none;
		margin: 40px 0 0 0;
		padding: 10px 0;
		border-top: dotted #999999 3px;
	}
	
	#footer li
	{
		padding: 50px 10px;
		font-size: 1em;
		width: 180px;
		display: block;
		float: left;
		color: #5e5e5e;

	}
	
	#footer a 
	{
		text-align: left;
		padding-top: 60px;
		font-size: 10pt;
		text-decoration: none;
		color: #999999;
	}
	
	#footer a:hover
	{
	}
	
	#footer .footer1 a
	{
		background: url('/images/bottomlink1.png') no-repeat;
	}
	
	#footer .footer2 a
	{
		background: url('/images/bottomlink2.png') no-repeat;
	}
	
	#footer .footer3 a
	{
		background: url('/images/bottomlink3.png') no-repeat;
	}
	
	#footer .footer4 a
	{
		background: url('/images/bottomlink4.png') no-repeat;
	}
	
	#footer .footer1 a:hover
	{
		background: url('/images/bottomlink1-over.png') no-repeat;
	}
	
	#footer .footer2 a:hover
	{
		background: url('/images/bottomlink2-over.png') no-repeat;
	}
	
	#footer .footer3 a:hover
	{
		background: url('/images/bottomlink3-over.png') no-repeat;
	}
	
	#footer .footer4 a:hover
	{
		background: url('/images/bottomlink4-over.png') no-repeat;
	}

/*----Global-----*/

.right
{
	float:right;
	color: #9999A0;
	margin-right: 100px;
}

.right-text
{
	text-align: right;
}

.form
{
	width: 600px;
}

h2 {
	margin: 10px 0;
	letter-spacing: -2px;
	font-size:1.5em;
	text-transform: uppercase;
}

p
{
}

a 
{
	color: #000;
}

a:hover
{
	color: #999;
}

form {
  line-height: 160%;
}

/*select, input.text_field, input.password_field, textarea {
  font: 15pt "Helvetica", "Arial";  
  color:#5e5e5e;
  margin:0;
  padding:0;
  background-color:transparent;
}

input.text_field, input.password_field, textarea {
  width: 7em;
  border:0;
  border-bottom: 2px solid #5e5e5e;
}
*/
.button 
{
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 14pt;
	padding: 10px;
}

.button, .button-inner
{
	cursor: pointer;
}

.button:hover, .button-inner:hover
{
	background-color:#ff0000;
}

.right
{
	float:right;
}

.center
{
	line-height: 0em;
	text-align: center;
	color: #999999;
}
.inner
{
	margin-right:100px;
}

#create-comment {
	margin-top:40px;
	width: 600px;
	margin-left: 100px;
}

	#create-comment textarea {
		padding: 10px;
	  width: 580px;
	  height: 3.5em;
	  margin-bottom:1em;
		font-size: 20px;
		line-height: 40px;
		background: url('/images/line.png') repeat 0 -1px;
	}
	
	#create-comment .button
	{
		margin: 0;
	}

textarea {
	border: none;
	background-color: #fff;
	line-height: 1.5em;
}

p
{
	line-height:1.5em;
	font-size:10pt;
}

img {
	border:none;
	}

input:focus, 
select:focus,
textarea:focus { outline: none; }

#random-message {
  clear:both;
}