body {
	margin: 0;
	padding 0;
	border-top: solid 5px #000;
	background: url('/images/margin.png') repeat-x #E5E2DB 0 60px;
}

#container 
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family:"Helvetiva", "Arial";
}

#menu
{
	float: right;
}
	#menu ul
	{
		list-style-type: none;
		font-size: 10pt;
	}
	
	#menu li
	{
		padding-left: 20px;
		display: inline;
	}
	
	#menu .active
	{
		font-weight: bold;
		color: #ff0000;
	}
	
	#menu a
	{
		color: #000;
		text-decoration: none;
	}
	
	#menu a:hover
	{
		color: #ff0000;
	}
	
#title 
{
	padding-top:10px;
	clear: right;
	font-size: 36pt;
}
	#title a
	{
		color: #000;
		text-decoration: none;
	}

#content
{
	margin-top: 60px;
	font:15pt "Helvetica", "Arial";
}

	#msgform textarea
	{
		padding: 50px;
		width: 500px;
		height: 200px;
		margin-left: 100px;
		background-color:transparent;
		overflow:hidden;
	}
	
	#single
	{
		margin-right: 50px;
		background-color: #fff;
		width: 660px;
		padding: 20px 40px;
		float: right;
	}
	
	#singleleft
	{
		text-align: left;
	}
	
	.controls
	{
		color: #555;
		font-size: 14pt;
		text-transform: uppercase;
		text-align:right;
		clear:both;
		height: 40px;
	}

	#filter
	{
		float: left;
		font: bold 14pt "Helvetica", "Arial";
	}
		#filter ul
		{
			font-size: 12pt;
			list-style: none;
			padding: 0;
		}
	
	.msglist
	{
		padding: 0;
		margin: 0;
		text-align: right;
		width: 450px;
		list-style: none;
		float: right;
	}
	
		.msglist li
		{
			padding: 0 20px 10px 10px;
		}
	
		.msglist a
		{
			color: #000;
		}
	
		.popularity-item
		{
			color: #555;
			margin-top: 5px;
			text-align: justify;
			width:40px;
			font-size: 0.9em;
			float:left;
			text-transform: uppercase;
			font-weight: bold;
		}
		
		.num
		{
			line-height: 0.7em;
			font-size:2.2em;
		}

		.down
		{
			font-size: 0.7em;
		}
		
		.message
		{
			text-align: left;
			font-size: 16pt;
			font-weight: bold;
			margin: 0;
			padding: 0;
			line-height:1sem;
		}
		
		.message a
		{
			text-decoration: none;
		}
		
		.postedby
		{
			line-height:1.5em;
			padding: 10px 0;
			margin: 0;
			font-size: 10pt;
			color: #9999A0;
			text-align: right;
			
		}
		
	.postedby strong
	{
		color: #000;
		font-weight: bold;
		
	}
		
.msg-item
{
	width: 600px;
	margin-bottom: 40px;
	float: right;
	line-height: 1.5em;
}

#random-message
{
	padding-top: 50px;
	margin-left: 100px;
	width: 600px;
}

.nextmessage
{
	clear:both;
	font-size: 0.6em;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #00A43D
}	
	
.vote a
{
	text-decoration:none;
}

.msg-extras
{
	text-transform: uppercase;
	width: 600px;
	line-height: 1.2em;
	background-color: #f2f2f2;
	padding-bottom:10px;
}

	.msg-extras ul
	{
		
		padding: 10px 10px;
		list-style-type:none;
	}
	
	.msg-extras li
	{
		background-color: #f2f2f2;
		padding: 0 15px;
		float:left;
		display: block;
		font-size:0.5em;
	}
	
	.msg-extras .comments
	{
		
	}
	
	.msg-extras .tags
	{
			width:180px;
	}
	
	.msg-extras .campus
	{

	}
	
	.msg-extras .faculty
	{
		
	}
	
	.msg-extras strong
	{
		font-size: 1.1em;
	}
	
	.msg-extras p
	{
		color: #878787;
		padding: 0;
		margin: 0;
		font-size: 1.3em;
	}
	
	.msg-extras img, .vote img
	{
		border:none;
		padding:0;
		margin:0;
	}
	
	.msg-extras a
	{
		text-decoration: none;
	}
	
	.blue
	{
		color:#2CADE3;
	}

#footer
{
	clear: both;
	padding: 20px 0 10px 0;
}
	#footer ul
	{
		list-style: none;
		margin: 40px 0 0 0;
		padding: 10px 0;
		border-top: dotted #999999 3px;
	}
	
	#footer li
	{
		padding: 50px 10px;
		font-size: 1em;
		width: 180px;
		display: block;
		float: left;
		color: #5e5e5e;

	}
	
	#footer a 
	{
		text-align: left;
		padding-top: 60px;
		font-size: 10pt;
		text-decoration: none;
		color: #999999;
	}
	
	#footer a:hover
	{
	}
	
	#footer .footer1 a
	{
		background: url('/images/bottomlink1.png') no-repeat;
	}
	
	#footer .footer2 a
	{
		background: url('/images/bottomlink2.png') no-repeat;
	}
	
	#footer .footer3 a
	{
		background: url('/images/bottomlink3.png') no-repeat;
	}
	
	#footer .footer4 a
	{
		background: url('/images/bottomlink4.png') no-repeat;
	}
	
	#footer .footer1 a:hover
	{
		background: url('/images/bottomlink1-over.png') no-repeat;
	}
	
	#footer .footer2 a:hover
	{
		background: url('/images/bottomlink2-over.png') no-repeat;
	}
	
	#footer .footer3 a:hover
	{
		background: url('/images/bottomlink3-over.png') no-repeat;
	}
	
	#footer .footer4 a:hover
	{
		background: url('/images/bottomlink4-over.png') no-repeat;
	}

/*----Global-----*/

.right
{
	float:right;
	color: #9999A0;
	margin-right: 100px;
}

.form
{
	width: 600px;
}

h2 {
	margin: 5px 0;
	letter-spacing: -2px;
	font-size:1.3em;
	text-transform: uppercase;
}

a 
{
	color: #000;
}

a:hover
{
	color: #999;
}

form {
  line-height: 160%;
}

select, input.text_field, input.password_field, textarea {
  font: 15pt "Helvetica", "Arial";  
  color:#5e5e5e;
  margin:0;
  padding:0;
  background-color:transparent;
}

input.text_field, input.password_field, textarea {
  width: 7em;
  border:0;
  border-bottom: 2px solid #5e5e5e;
}

.button 
{
	float: right;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 14pt;
	padding: 10px;
}

.small
{
	font-size: 0.8em;
}

.inner
{
	margin-right:100px;
}

#create-comment {
	margin-left: 100px;
	width: 600px;
}

	#create-comment textarea {
		padding: 10px;
	  width: 580px;
	  height: 4.5em;
	  margin-bottom:1em;
	}

textarea {
	border: none;
	background-color: #fff;
	line-height: 1.5em;
}

img {
	border:none;
	}

input:focus, 
select:focus,
textarea:focus { outline: none; }

#random-message {
  clear:both;
}