body{
	background:#fff url(../images/scheme2/bg.jpg) repeat-x;
	}
	
th {
	background:#95bf84 url(../images/highlight_line.gif) repeat-x scroll 0 0;
}

td.alt {
	background: #eff5ec url(../images/highlight_line.gif) repeat-x scroll 0 0;
	color: #797268;
}

th.specalt {
	background: #eff5ec url(../images/scheme2/bullet1.gif) no-repeat;
	color: #797268;
}

.button{
	background:#95bf84 url(../images/highlight_line.gif) repeat-x top left;
}

.button:hover{
	background:#b1c5a8;
}