body{
	background:#fff url(../images/scheme1/bg.jpg) repeat-x;
	}
	
th {
	background:#a8b2c5 url(../images/highlight_line.gif) repeat-x scroll 0 0;
}

td.alt {
	background: #eceff5 url(../images/highlight_line.gif) repeat-x scroll 0 0;
	color: #797268;
}

th.specalt {
	background: #eceff5 url(../images/scheme1/bullet1.gif) no-repeat;
	color: #797268;
}

.button{
	background:#a8b2c5 url(../images/highlight_line.gif) repeat-x top left;
}

.button:hover{
	background:#a8b2c5;
}