body{
	background:#fff url(../images/scheme4/bg.jpg) repeat-x;
	}
	
th {
	background:#ff6244 url(../images/highlight_line.gif) repeat-x scroll 0 0;
}

td.alt {
	background: #ffe6e2 url(../images/highlight_line.gif) repeat-x scroll 0 0;
	color: #797268;
}

th.specalt {
	background: #ffe6e2 url(../images/scheme4/bullet1.gif) no-repeat;
	color: #797268;
}

.button{
	background:#ff6244 url(../images/highlight_line.gif) repeat-x top left;
}

.button:hover{
	background:#ff826e;
}