%h1 You have been banned from dearQUT

%h2 You are banned because of the following reason

%bq= @ban.reason

%p
  If you think you have been banned without a 
  valid reason, do not hesitate to contact the
  = "team on #{link_to 'team@dearqut.com', 'mailto:team@dearqut.com'}."