%h2
  HAVE YOUR SAY
%p
  dearQUT, is for students, staff members, visitors of
  Queensland University of Technology (”QUT”) to contribute to
  and listen to conversations about QUT. The general public is
  most welcome to join in the discussion, in fact the more the
  merrier. dearQUT, encourages constructive, truthful feedback
  and welcome messages of all shades and sizes.
%p
  At the moment, there is a lack of self-regulating feedback system
  for the community to contribute constructive opinions and
  viewpoints.The Concept was conceived by QUT students who
  wanted to establish a channel of communication where the QUT
  community can pitch in their views in a safe environment without
  interference or regulation by institutional bodies.
%p
  The aim is to provide a platform where QUT students, staff
  can file in their complaint or suggestions and vote on messages
  filed by others.
%p
  = link_to 'Queensland University of Technology', 'http://www.qut.edu.au'
  is located in sunny
  Brisbane, Australia.
