<h1>Site#index</h1>
<p>Find me in app/views/site/index.html.erb</p>

<%= link_to "sign up", "/" %>


<form>
  <input name="Username"/>
  <input name="Password"/>
  <input name="Password Confirmation"/>
  <input type="submit" value="Submit" />
</form>
