<%= flash[:notice] %>

<%= link_to "sign up", "/" %>

<p><%= current_user.login rescue "Logged out" %></p>

<form>
  <input name="Username"/>
  <input name="Password"/>
  <input name="Password Confirmation"/>
  <input type="submit" value="Submit" />
</form>
