<h2>PRIVACY</h2>
<p>
The purpose of dearQUT is to provide a free platform for users to 
freely voice their opinions, thoughts related to QUT without interference
or regulation. 
</p>

<p>
  All visitors to dearQUT will be subjected to our privacy policy while
visiting or using the functions on this site. 
</p>

<p>
1. All personal information of dearQUT’s members will not be 
disclosed to any third party without express written authorisation from
the users and or from a Federal directive authorised by the 
Freedom of Information Act 1982 (Cth).
</p>

<p>
2. All views and opinions expressed on this website does not 
in any way represent the views of the dearQUT developers. 
</p>

<p>
dearQUT encourages freedom of expression and constructive 
discussion use of the website. Users and visitors are advised that
they are personally responsible for the information that they have posted 
onto the dearQUT servers. 
</p>

<p>
3. dearQUT, and dearQUT development team is not affiliated with 
Queensland University of Technology or with any institutions, 
corporations.
</p>

<p>
4. Users are able to submit opinions in anonymity. 

However dearQUT developers are not obliged to protect or 
defend against inflammatory messages, libel or derogatory 
statements submitted by users. 
</p>

<p>
dearQUT developers will not under any circumstances defend 
against user-submitted statements. 
</p>

<p>
5. dearQUT abides by the Information Privacy Principles as stipulated by the 
<%= link_to 'Queensland Government.', 'http://www.privacy.qld.gov.au/principles.htm#1' %>
</p>