You changed your vote to 
= (vote.agreed? ? 'agreed' : 'disagreed').inspect
for message
= link_to truncate(vote.message.body, :length => 40), vote.message
at 
= activity.created_at.strftime("%I:%M%p")