= render :partial => "my/accounts/my_menu"
#activities
  %h1 My Activity
  - @grouped_activities.each do |date, activities| 
    %h2= date
    - activities.each do |activity| 
      - unless activity.target.nil?
        .activity
          = render_activity(activity)
  = will_paginate @activities