!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Reflect Template" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %title dearQUT Admin
    %link{ :href => "/stylesheets/style_all.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/style1.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/jquery-ui.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/jquery.wysiwyg.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }

    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/jquery.wysiwyg.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/admin.js", :type => "text/javascript" }
  %body
    /
      this is the content for the dialog that pops up on window start
    - if @message
      #dialog{ :title => "Welcome to flexy admin" }
        %p
          = "Hello #{current_user}! welcome back."
          %br
          You've got
          %strong
            1 new Message
          in your inbox
        %p
          This is a messagebox, you can fill it with content of your choice ;)
    #top
      #head
        %h1.logo
          %a{ :href => "" }
            flexy - adjustable admin skin
        .head_memberinfo
          .head_memberinfo_logo
            %span 1
            %img{ :src => "images/unreadmail.png", :alt => "" }
          %span.memberinfo_span
            Welcome
            %a{ :href => "" }
              Admin
          %span.memberinfo_span
            %a{ :href => "" }
              Settings
          %span
            %a{ :href => "login.html" }
              logout
          %span.memberinfo_span2
            %a{ :href => "" }
              1 Private Message received
      #bg_wrapper
        #main
          #content= yield
        #sidebar
          %ul.nav
            %li
              %a.headitem.dashboard{ :href => "#" }
                Dashboard
              %ul.opened
                %li.current
                  %a{ :href => "#" }
                    Statistics
            %li
              %a.headitem.moderation{ :href => "#" }
                Moderation
              %ul
                %li
                  %a{:href => "#"}
                    Spam
                %li
                  %a{ :href => "#" }
                    Messages
                %li
                  %a{ :href => "#" }
                    Comments
                %li
                  %a{ :href => "#" }
                    Bans
      #footer
      /
        end footer
    /
      end top
