!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "Reflect Template" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %title dearQUT Admin Login Page
    %link{ :href => "/stylesheets/style_all.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/style1.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/jquery-ui.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
    %link{ :href => "/stylesheets/jquery.wysiwyg.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }


    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript" }
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/jquery.wysiwyg.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/admin.js", :type => "text/javascript" }
  %body.nobackground
    #login-page
      %h1.logo
        %a{ :href => "/" } dearQUT Admin
      %h2.loginheading Login
      .icon_login.ie6fix
      - form_for(UserSession.new, :html => {:id => "login-form"}) do |f|
        = hidden_field_tag :redirect_to_admin, 'true'
        %p
          %label{ :for => "login" }
            Username
          = f.text_field :login, {:id => "login", :class => "input-medium"}
        %p
          %label{ :for => "password" }
            Password
          = f.password_field :password, {:id => "password", :class => "input-medium"}
        %p.clearboth
          %input.button{ :name => "submit", :type => "submit", :value => "Login" }
    .login_message.message.error
      %p
        Wrong Username or password.
